body{
  font-family: Arial;
}

h1 {
  color: orangered;
}

#btnNext {
  height: 3em;
}

#questText {
  height: 3em;
}

#answerList {
  height: 8em;
  border: 1px solid orangered;
}


li {
  list-style-type: none;
}